################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ContactWebNetCore6/FileContentIndex/352b2f41-1de3-4c67-a7be-6d704a80c6d2.vsidx
*.vsidx
